# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Debug

/ALHE_Project/ALHE_Project/Debug
*.suo
*.db
*.ipch
/ALHE_Project/ALHE_Project/ALHE_Project.vcxproj
/ALHE_Project/ALHE_Project/ALHE_Project.vcxproj.filters
/ALHE_Project/ALHE_Project/ALHE_Project.vcxproj.user
/ALHE_Project/Debug/ALHE_Project.ilk
/ALHE_Project/Debug/ALHE_Project.pdb
